$primary-color: #3884d1;
$dark-bg: #333;
$light-bg: #f9f9f9;
$border-radius: 8px;
$transition-time: 0.2s;

// @mixin mobile {
//   @media (max-width: 480px) {
//     @content;
//   }
// }

.noImage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: gray;
  background-color: #def;
}

.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include mobile {
    display: none;
  }
}

.projectCard {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: calc(50% - 1rem);
  background: $light-bg;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform $transition-time ease-in-out;
  padding: 1rem;

  @include mobile {
    width: 100%;
  }
}

.projectThumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  min-height: 170px;

  @include mobile {
    height: 180px;
  }
}

.projectContent {
  padding: 16px;
}

.projectTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.projectDescription {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.3;
  white-space: pre-line;
  word-wrap: break-word;
}

.projectSummary {
  margin-top: 2rem;
  line-height: 1.4;
  padding-left: 1rem;
  list-style-type: disc;
}

.techStack {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 12px;

  span {
    background: #e0e0e0;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
  }
}

.projectLinks {
  display: flex;
  gap: 10px;

  a {
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    transition: background $transition-time;
  }
}

.githubLink {
  background: $dark-bg;
  color: white;
  padding: 1rem 2rem;

  &:hover {
    background: darken($dark-bg, 15%);
  }
}

.demoLink {
  background: $primary-color;
  color: white;
  padding: 1rem 2rem;

  &:hover {
    background: darken($primary-color, 15%);
  }
}

.projectSwiper {
  display: none;

  @include mobile {
    display: block;
  }
}
