.header {
  background: linear-gradient(135deg, #c6daf7 0%, #d8bfd8 100%);
  background: linear-gradient(135deg, #f8ede3 0%, #a8dadc 100%);
  text-align: center;
  color: #264653;
  padding: 1.5rem 10%;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
}

.subtitle {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
}
