.swiper {
  width: 100%;
  margin-top: 10px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
}

.image {
  max-width: 100%;
  border-radius: 10px;
}
