@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContents {
  flex: 1;
  margin: 4rem 20%;
  // min-width: 1200px;

  @include mobile {
    flex: none;
    margin: 1rem 2rem;
  }
}
